<div class="App-Container container">

<app-navbar></app-navbar>

<header>
    <div>
        <h1>
            Bienvenido a tu <br>
            <b id="b1">Entrevista Tecnica</b> en <br>
            <b id="b2">Wolox</b>
        </h1>
        
    </div>
    <div class="right-center">
        <img src="/assets/Images/Ic_ilustra_Hero.png">
    </div>

  
</header>

<section id="technology">
    <div>
        <div>
            <h3>Estamos buscando para incorporar gente increíble para estas tecnologías</h3>
        </div>
        <div>
            <img src="/assets/Icons/Ic_Tecnologys.svg">
        </div>
    </div>
</section>
</div>

<section id="woloxers">
    <div>
        <div id="bg-woloxers">
            <h3>+ 350 <b>Woloxers</b></h3>
            <a><i class='fab fa-twitter' style='font-size:24px;position: relative;top:2px'></i> @Wolox</a>
            <app-button-secondary [text]="'Seguinos'" [color]="'white'"></app-button-secondary>
        </div>

        <div class="div-flex">
            <h2>
                Trabajamos para 
                <b id="b1">convertir </b> <b>ideas</b> 
                en productos.
            </h2>
        </div>
    </div>
</section>

<div class="App-Container container">

<section id="beneficios">
    <div>
        <h3>Entre los beneficios que ofrecemos se encuentran <span>;)</span></h3>
    </div>
    <div class="beneficio-card">
        <div class="card">
            <div><img src="/assets/Icons/Ic_Hour.svg"></div>
            <div><p>Flexibilidad horaria</p></div>
        </div>
        <div class="card">
            <div><img src="/assets/Icons/Ic_HomeOffice.svg"></div>
            <div><p>Home Office</p></div>
        </div>
        <div class="card">
            <div><img src="/assets/Icons/Ic_Workshops.svg"></div>
            <div><p>Capacitaciones y Workshops</p></div>
        </div>
        <div class="card">
            <div><img src="/assets/Icons/Ic_DrinkSnacks.svg"></div>
            <div><p>Snacks, frutas y bebidas gratis</p></div>
        </div>
        <div class="card">
            <div><img src="/assets/Icons/Ic_laptop.svg"></div>
            <div><p>Semana Remota</p></div>
        </div>
        <div class="card">
            <div><img src="/assets/Icons/Ic_brain.svg"></div>
            <div><p>Trabajar en últimas tecnologías</p></div>
        </div>
    </div>
</section>

<section id="requirimientos">
    
    <div>
        <div>
            <h3>Requirimientos</h3>
        </div>
        <div class="flex-start-x">
            <div> 
                <div id="color-secondary" class="punto"></div>
                <a>Estudiantes avanzados o recibidos de carreras del rubro  informatico, sistemas o electronicos</a>
            </div>
            <div>
                <div id="color-texto" class="punto"></div>
                <a>Ingles intermedio/avanzado</a>
            </div>
            <div>
                <div id="color-primary" class="punto"></div>
                <a>Conocimiento en metodologias agiles</a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div>
        <h2>Gracias por <b>completar el ejercicio</b></h2>
        <h3>Te invitamos a ver más información</h3>
        <div>
            <app-button-primary text="Conocer más"></app-button-primary>
        </div>
        <div id="wolox-footer">
            <img src="/assets/Icons/Ic_Wolox_Footer.svg">
        </div>
    </div>
</footer>
</div>