@use 'app/scss/colors' as colors;
@use 'app/scss/_fonts' as fonts;

body{
    margin:0px;
    padding:0px;
}
.App-Container{
    font-family:fonts.$fontLight;
    flex:1;
    flex-direction:column;
}

.container{
    margin:0px 7rem;
    @media screen and (max-width:996px) {
        margin: 0px 2rem;
    }
    @media screen and (max-width:1100px) {
        margin: 0px 3rem;
    }
}

div{
    display:flex;
}
.div-flex{
    display: flex!important;
}

.flex-start-x{
    align-items: flex-start!important;
}
.flex-center{
    justify-content: center!important;
}
@media screen and (min-width:1200px) {
    html{
        font-size:12px;
    }
}

@media screen and (max-width:1200px) {
    html{
        font-size:10px;
    }
}

@media screen and (max-width:992px) {
    html{
        font-size:28px;
    }
    
}
@media screen and (max-width:768px) {
    html{
        font-size:28px;
    }
}
@media screen and (max-width:576px	) {
    html{
        font-size:18px;
    }
}
@media screen and (max-width:360px	) {
    html{
        font-size: 13px;
    }
}
